<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omniplatform">
    <xacro:property name="model_scale" value="0.01 0.01 0.01" />

    <link name="base_link">
        <visual>
            <origin rpy="0 0 ${pi/2}"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Platform.stl" scale="${model_scale}"/>
            </geometry>
        </visual>
    </link>

    <!-- Wheels !-->

    <link name="wheel1">
        <visual>
            <origin rpy="0 ${pi/2} 0"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Omniwheel.stl" scale="${model_scale}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0 1 0.3 1"/>
            </material>
        </visual>
    </link>

    <link name="wheel2">
        <visual>
            <origin rpy="0 ${pi/2} 0"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Omniwheel.stl" scale="${model_scale}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0 1 0.3 1"/>
            </material>
        </visual>
    </link>

    <link name="wheel3">
        <visual>
            <origin rpy="0 ${pi/2} 0"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Omniwheel.stl" scale="${model_scale}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0 1 0.3 1"/>
            </material>
        </visual>
    </link>

    <joint name="wheel1_axis" type="fixed">
        <origin xyz="0.077647 0 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="wheel1"/>
    </joint>

    <joint name="wheel2_axis" type="fixed">
        <origin xyz="${cos(2*pi/3)*0.077647 - sin(2*pi/3)*0} ${sin(2*pi/3)*0.077647 + cos(2*pi/3)*0} 0" rpy="0 0 ${2*pi/3}"/>
        <parent link="base_link"/>
        <child link="wheel2"/>
    </joint>

    <joint name="wheel3_axis" type="fixed">
        <origin xyz="${cos(2*pi/3*2)*0.077647 - sin(2*pi/3*2)*0} ${sin(2*pi/3*2)*0.077647 + cos(2*pi/3*2)*0} 0" rpy="0 0 ${2*pi/3*2}"/>
        <parent link="base_link"/>
        <child link="wheel3"/>
    </joint>

    <!-- Mice !-->

    <link name="mouse1">
        <visual>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <cylinder radius="0.005" length="0.02"/>
            </geometry>
            <material name="mouse_material">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
    </link>

    <link name="mouse2">
        <visual>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <cylinder radius="0.005" length="0.02"/>
            </geometry>
            <material name="mouse_material">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
    </link>

    <link name="mouse3">
        <visual>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <cylinder radius="0.005" length="0.02"/>
            </geometry>
            <material name="mouse_material">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
    </link>

    <link name="mouse4">
        <visual>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <cylinder radius="0.005" length="0.02"/>
            </geometry>
            <material name="mouse_material">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
    </link>

    <joint name="mouse1_joint" type="fixed">
        <origin xyz="0 0.09 -0.025"/>
        <parent link="base_link"/>
        <child link="mouse1"/>
    </joint>

    <joint name="mouse2_joint" type="fixed">
        <origin xyz="0 0.03 -0.025"/>
        <parent link="base_link"/>
        <child link="mouse2"/>
    </joint>

    <joint name="mouse3_joint" type="fixed">
        <origin xyz="0 -0.03 -0.025"/>
        <parent link="base_link"/>
        <child link="mouse3"/>
    </joint>

    <joint name="mouse4_joint" type="fixed">
        <origin xyz="0 -0.09 -0.025"/>
        <parent link="base_link"/>
        <child link="mouse4"/>
    </joint>
</robot>