<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omniplatform">
    <xacro:property name="model_scale" value="0.01 0.01 0.01" />

    <link name="base_link">
        <visual>
            <origin rpy="0 0 ${pi}"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Platform.stl" scale="${model_scale}"/>
            </geometry>
        </visual>
    </link>

    <link name="wheel1">
        <visual>
            <origin rpy="${pi/2} 0 0"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Omniwheel.stl" scale="${model_scale}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0 1 0.3 1"/>
            </material>
        </visual>
    </link>

    <link name="wheel2">
        <visual>
            <origin rpy="${pi/2} 0 0"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Omniwheel.stl" scale="${model_scale}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0 1 0.3 1"/>
            </material>
        </visual>
    </link>

    <link name="wheel3">
        <visual>
            <origin rpy="${pi/2} 0 0"/>
            <geometry>
                <mesh filename="package://omniplatform/urdf/model/Omniwheel.stl" scale="${model_scale}"/>
            </geometry>
            <material name="wheel_material">
                <color rgba="0 1 0.3 1"/>
            </material>
        </visual>
    </link>

    <joint name="wheel1_axis" type="fixed">
        <origin xyz="0 0.077647 0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="wheel1"/>
    </joint>

    <joint name="wheel2_axis" type="fixed">
        <origin xyz="${cos(2*pi/3)*0 - sin(2*pi/3)*0.077647} ${sin(2*pi/3)*0 + cos(2*pi/3)*0.077647} 0" rpy="0 0 ${2*pi/3}"/>
        <parent link="base_link"/>
        <child link="wheel2"/>
    </joint>

    <joint name="wheel3_axis" type="fixed">
        <origin xyz="${cos(2*pi/3*2)*0 - sin(2*pi/3*2)*0.077647} ${sin(2*pi/3*2)*0 + cos(2*pi/3*2)*0.077647} 0" rpy="0 0 ${2*pi/3*2}"/>
        <parent link="base_link"/>
        <child link="wheel3"/>
    </joint>
</robot>