<launch>
    <param name="robot_description" command="xacro --inorder '$(find omniplatform)/urdf/omniplatform.urdf'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <node ns="motor_a" pkg="omniwheel" type="omniwheel_node" name="controller" respawn="true">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <param name="wheel_id" type="int" value="1"/>
    </node>

    <node ns="motor_b" pkg="omniwheel" type="omniwheel_node" name="controller" respawn="true">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <param name="wheel_id" type="int" value="2"/>
    </node>

    <node ns="motor_c" pkg="omniwheel" type="omniwheel_node" name="controller" respawn="true">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <param name="wheel_id" type="int" value="3"/>
    </node>
</launch>