<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="global_localization" args="0 0 0 0 0 0 map odom" />

    <node pkg="mouse_odom" type="mouse_odom_node" name="mouse_odom_node" respawn="true">
        <param name="device" type="string" value="/dev/input/mouse0"/>
    </node>
</launch>